<footer class="page-footer" style="background: #c0cc6b;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">ANYTHINGSTORE</h5>
                <p class="black-text text-lighten-4">You can use this to store video, audio, text and we r keeping it
                    safe. </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                    <li><a class="black-text text-lighten-3" href="{%url 'textnote'%}">Text Notes</a></li>
                    <li><a class="black-text text-lighten-3" href="{%url 'audionote'%}">Audio Notes</a></li>
                    <li><a class="black-text text-lighten-3" href="{%url 'videonote'%}">Video Notes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text "> © 2023 Copyright Text </div>
    </div>
</footer>